<footer>
    <footer class="footer-head">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-desc">
                        <h3 class="footer-title">
                            About us
                        </h3>
                        <p class="desc">
                            Our Smart Health Hospital Application offers convenient healthcare services. Schedule
                            appointments, access telehealth consultations, manage electronic health records, and get
                            prescription refills. Monitor your health with integrated devices, receive alerts, and
                            access emergency services. Specialized programs, billing, and insurance services ensure
                            a seamless healthcare experience. Your well-being is our priority.
                        </p>
                        <button class="my-button">Contact Me</button>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="footer-details">
                        <h3 class="footer-title">
                            Contact Details
                        </h3>
                        <div class="adress-inform">
                            <ul class="list-style">
                                <li>Shiprash Pvt. Ltd ,Noida</li>
                                <li>Phone No: +919291281</li>
                                <li>Phone No: +92192818</li>
                                <li>Email Address: shiprash@info.com</li>
                            </ul>

                        </div>

                        <button class="my-button">Get Direction</button>
                    </div>
                </div>

            </div>


        </div>
    </footer>
    <div id="sub-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-6">
                    <p style="color:black;padding:0;margin:0">Copyright © 2024 Shiprash Pvt Ltd. All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-3">
                    <div class="footer-icon">
                        <a href="#"><i class="fab fa-instagram"></i>
                        </a>
                        <a href="#"> <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#"><i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>