<link rel="stylesheet" type="text/css" href="/css/home.css">
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="main-btn">
                    <a href="/admin/sign-in"><button class="btn">SignIn Admin</button></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-btn">
                    <a href="/admin/sign-up"><button class="btn">SignUp Admin</button></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-btn">
                    <a href="/staff/sign-in"><button class="btn">SignIn Staff</button></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-btn">
                    <a href="/doctor/sign-in"><button class="btn">SignIn Doctor</button></a>
                </div>
            </div>
        </div>
    </div>
</div>