<link rel="stylesheet" type="text/css" href="/css/forgot_password.css">
<div class="main-container">
    <div class="title-edit">
        <h1>Reset Your Password</h1>
    </div>
    <div class="form-container">
        <form action="/staff/forgot-password" method="POST">
            <div class="form-style">
                <input class="form-style-place" type="email" name="email" placeholder="Email" required>
                <input class="enter" type="submit" value="Reset">
            </div>
        </form>
    </div>
</div>