<link rel="stylesheet" type="text/css" href="/css/staff_signin.css">
<div class="main-container">
    <div class="title-edit">
        <h1>Staff Sign-In</h1>
    </div>
    <div class="form-container">
        <form action="/staff/create-session" method="POST">
            <div class="form-style">
                <input class="form-style-place" type="email" name="email" placeholder="Email" required>
                <input class="form-style-place" type="password" name="password" placeholder="Password" required>
                <a href="/staff/forgot-password" class="forgot-password"> Forgot Password ?</a>
                <input class="enter" type="submit" value="Sign-In">
            </div>
        </form>
    </div>
</div>