<div>
    <p>Hi <%=data.name%> !</p>
    <p>Your Appointment has been confirmed!</p>
    <br>
    <p>Date: <%= new Date().toLocaleDateString() %>
    </p>
    <p>Time: <%= data.time%>
    </p>
    <p>Please arrive 10 minutes prior to your scheduled time.</p>
    <br>
    <p>XYZ Hospital</p>
    <p>Thank You!!</p>
</div>